:root {
  --base-font-scale: 62.5%;
  --base-font-size: 1.6rem;
  --base-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --body-background: rgb(7, 15, 21);
  --base-font-color: #ffffff;

  --grid-size: 1rem;

  --base-border-color: #636363;
}
