@import 'styles/theme';

html {
  font-size: var(--base-font-scale);
}

body {
  font-family: var(--base-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
  font-size: var(--base-font-size);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  // color: var(--base-font-color);
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  border: 1px solid var(--base-border-color);
  border-width: 0 0 1px;
  padding: var(--grid-size) calc(var(--grid-size) * 2);
}

footer {
  border-width: 1px 0 0;
  text-align: center;
}

[tabindex='-1'] {
  outline: none;
}
